.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-fb {
    background-color: $blue-fb;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;    
}

.bg-red {
    background-color: $red;    
}

.bg-purple {
    background-color: $purple;    
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-xlight {
    background-color: $gray-xlight;
}

.bg-white-overlay {
    background-color: $white-overlay;
}

.bg-image {
    background: no-repeat center center fixed;
}