.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-blue-fb {
    background-color: $blue-fb;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;    
}

.bg-red {
    background-color: $red;    
}

.bg-purple {
    background-color: $purple;    
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-xlight {
    background-color: $gray-xlight;
}

.bg-white-overlay {
    background-color: $white-overlay;
}

.bg-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}