.column-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.header-column {
    width: $header-width;
    margin: 0 auto;
}

.body-column {
    width: $body-width;
    margin: 0 auto;
}