.bg-blue-dark {
    background-color: $blue-dark;
}

.bg-white {
    background-color: $white;
}

.bg-orange {
    background-color: $orange;    
}

.bg-gray-light {
    background-color: $gray-light;
}

.bg-gray-xlight {
    background-color: $gray-xlight;
}