[class*="border-"] {
    border-style: solid;
}

.border-thin {
    border-width: 1px;
}

.border-thick {
    border-width: 3px;
}

.border-white {
    border-color: $white;
}

.border-gray {
    border-color: $gray;
}

.border-orange {
    border-color: $orange;
}