<a href="#" class="button-lg text-left <%= button_large[:class]%>">
    <div class="button-icon">
        <%= image_tag button_large[:icon] %>

    </div>
    <div class="button-text">
        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class=""><%= button_large[:text_reg] %></span> <span class="font-semibold"><%= button_large[:text_bold] %></span>
    </div>
</a>
<div class="spacer-sm"></div>
<div class="spacer-xs"></div>