<div class="bg-white-overlay column-wrapper">
    <div class="body-column text-center">
        <div class="spacer-sm"></div>

        <a class="text-sm" href="#">
            <span class="text-gray-md">Already an MHBO member?</span>
            <span class="text-red font-semibold">Log In</span>
        </a>

        <div class="spacer-md"></div>
    </div>
</div>