<div class="bg-white-overlay column-wrapper">
    <div class="body-column text-center">
        <div class="spacer-sm"></div>

        <a class="text-sm" href="#">
            <span class="text-gray-md">Don't have an account?</span>
            <span class="text-red font-semibold">Sign Up</span>
        </a>

        <div class="spacer-sm"></div>
    </div>
</div>