<div class="bg-white-overlay column-wrapper">
    <div class="spacer-sm"></div>

    <div class="body-column text-center">
        <div class="inline-group-md">
            <a href="#" class="text-black text-xxs">English</a>
            <%= image_tag "icons/arrow-switch.png" %>
            <a href="#" class="text-gray-md text-xxs">Español</a>
        </div>
    </div>

    <div class="spacer-sm"></div>
</div>