<div class="bg-blue-dark column-wrapper">
    <div class="header-column">
        <div class="spacer-md"></div>
        <div class="left">
            <div class="spacer-xs"></div>
            <%= image_tag "logos/mhbo-logo.png" %>
        </div>

        <div class="right inline-group-sm">
            <a 
                href="#" 
                class="button-sm left border-thick border-white text-white">
                <span class="button-text">Sign Up</span>
            </a>
            <a 
                href="#" 
                class="button-sm left border-thick border-white text-white">
                <span class="button-text">Log In</span>
            </a>
        </div>
        <div class="spacer-sm full-width"></div>
    </div>
</div>
