<div class="bg-white column-wrapper">
    <div class="body-column">
        <div>
            <div class="spacer-xl"></div>
            <div class="spacer-sm"></div>
        </div>
        
        <div class="text-center text-md text-gray">
            Find a mobile or manufactured home.
        </div>

        <div>
            <div class="spacer-lg"></div>
            <div class="spacer-sm"></div>            
        </div>
    </div>

    <div class="body-column">
        <div class="button-lg bg-orange text-white border-orange">
            <div class="left button-text">
                <span>Search Nearby</span>
            </div>
            <div class="right">
                <%= image_tag "icons/target.png", class: "button-icon" %>
            </div>

        </div>

        <div>
            <div class="spacer-md"></div>
            <div class="spacer-sm"></div>
        </div>
    </div>

    <div class="body-column">

        <form class="button-lg button-group bg-white text-gray border-gray">
            <input 
                type="text" 
                name="searchCSZ"
                class="left full-height full-width text-sm"
                placeholder="Search a City, State, or Zip" 
                style="width: 394px;"
                >
            <input 
                type="submit" 
                value="GO"
                class="right full-height bg-orange text-white text-sm"
                >

        </form>

        <div>
            <div class="spacer-md"></div>
            <div class="spacer-sm"></div>
        </div>
    </div>

    <div>
        <div>
            <div class="spacer-xl"></div>
            <div class="spacer-lg"></div>
            <div class="spacer-sm"></div>
        </div>
    </div>


</div>


<%= render template: "mobile/partials/_footer-lang-switch" %>
