<div class="bg-image" style="background-image: url(<%= asset_path 'stock/splash-A.jpg' %>)
">
</div>

<div class="body-column-wrapper">
    <div>
        <div class="spacer-xl"></div>
        <div class="spacer-xl"></div>
        <div class="spacer-xl"></div>
        <div class="spacer-xl"></div>
    </div>
    <div class="body-column">
        <div class="bg-white-overlay border-thick border-gray-md round">
            <div>
                <div class="spacer-lg"></div>
                <div class="spacer-sm"></div>
            </div>

            <div class="text-sm text-center text-gray-md">Find a mobile or manufactured home.</div>
            <div>
                <div class="spacer-lg"></div>
            </div>

            <div class="col-wrapper">
                <div class="col-1"></div>

                <div class="col-22">
                    <div class="button-lg thin-pad bg-orange text-white border-orange">
                        <div class="left button-text">
                            <span class="font-semibold">Search Nearby</span>
                        </div>
                        <div class="right">
                            <%= image_tag "icons/target.png", class: "button-icon" %>
                        </div>
                    </div>

                    <div>
                        <div class="spacer-md"></div>
                        <div class="spacer-sm"></div>
                    </div>

                    <form class="button-lg button-group thin-pad bg-white text-gray border-gray-md">
                        <input 
                            type="text" 
                            name="searchCSZ"
                            class="left full-height full-width text-sm text-blue-dark font-semibold"
                            placeholder="Search a City, State, or Zip" 
                            style="width: 433px;"
                            >
                        <input 
                            type="submit" 
                            value="GO"
                            class="right full-height bg-orange text-white text-sm font-semibold"
                            >
                    </form>

                    <div>
                        <div class="spacer-md"></div>
                        <div class="spacer-sm"></div>
                    </div>

                </div>

                <div class="col-1"></div>
            </div>
        </div>
            <div>
                <div class="spacer-xl"></div>
                <div class="spacer-xl"></div>
                <div class="spacer-md"></div>
            </div>
    </div>
</div>



<%= render template: "mobile/partials/footer/_footer-lang-switch" %>
