<div class="bg-white column-wrapper">
    <div class="body-column">
        <div>
            <div class="spacer-xl"></div>
            <div class="spacer-sm"></div>
        </div>
        
        <div class="text-center text-md text-gray">
            Find a mobile or manufactured home.
        </div>

        <div>
            <div class="spacer-lg"></div>
            <div class="spacer-sm"></div>            
        </div>

    </div>
</div>


<%= render template: "mobile/partials/_footer-lang-switch" %>
