<div class="bg-white column-wrapper">
    <div>
        <div class="spacer-md"></div>
        <div class="spacer-sm"></div>
    </div>

    <div class="body-column">
        <a href="#" class="button-lg bg-white text-gray-md border-gray-md text-left">
            <div class="button-text">
                <span class="font-semibold">Sign in with</span> <span class="font-bold">Google</span>
            </div>
        </a>
    </div>

    <div class="spacer-sm"></div>

    <div class="body-column">
        <a href="#" class="button-lg bg-blue-fb text-white text-left">
            <div class="button-text">
                <span class="font-semibold">Sign in with</span> <span class="font-bold">Facebook</span>
            </div>
        </a>
    </div>

    <div class="spacer-sm"></div>

    <div class="body-column">
        <a href="#" class="button-lg bg-purple text-white text-left">
            <div class="button-text">
                <span class="font-semibold">Sign in with</span> <span class="font-bold">Yahoo!</span>
            </div>
        </a>
    </div>

    <div class="spacer-md"></div>

    <div class="body-column">
        <div class="text-center text-md text-gray-md">
            or
        </div>
    </div>

    <div class="spacer-md"></div>


    <div class="body-column">
        <form>
            <div>
                <input 
                    type="text" 
                    name="email-login"
                    class="button-lg text-sm text-blue-dark font-semibold border-gray-md"
                    placeholder="Email Address" 
                    >
            </div>

            <div>
                <div class="spacer-md"></div>
            </div>

            <div>
                <input 
                    type="text" 
                    name="pw-login"
                    class="button-lg text-sm text-blue-dark font-semibold border-gray-md"
                    placeholder="Password" 
                    >
            </div>

            <div>
                <div class="spacer-md"></div>
                <div class="spacer-lg">
                    <a href="#" class="right text-red text-sm font-semibold">Forgot Password?</a>
                </div>
                <div class="spacer-md"></div>
            </div>

            <div>
                <input type="submit" value="Log In" class="button-lg bg-red text-white text-center font-semibold">
            </div>
        
        </form>
    </div>

    <div>
        <div>
            <div class="spacer-xl"></div>
            <div class="spacer-lg"></div>
        </div>
    </div>
</div>

<%= render template: "mobile/partials/_footer-sign-up" %>
