<div class="bg-white body-column-wrapper">
    <div>
        <div class="spacer-md"></div>
        <div class="spacer-sm"></div>
    </div>

    <div class="body-column">
        <%= render partial: "mobile/partials/button_large", collection: @signup_buttons %>
    </div>

    <div class="spacer-xs"></div>
    
    <div class="body-column">
        <div class="text-center text-md text-gray-md">
            or
        </div>
    </div>

    <div class="spacer-md"></div>

    <div class="body-column">
        <form>

            <%= render partial: "mobile/partials/input_text", collection: @signup_inputs %>

            <div>
                <input type="submit" value="Sign Up" class="button-lg bg-red text-white text-center">
            </div>
        
        </form>
    </div>

    <div class="spacer-md"></div>

</div>

<%= render template: "mobile/partials/footer/_footer-log-in" %>
