@import "reset";
@import "config/init";
@import "base/init";
@import "components/init";

.full-width {
    width: 100%;
    display: inline-block;
}

.full-height {
    height: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

$inline-group-margin: 10px;

[class*="inline-group-"] {
    display: inline-block;

    &:first-child {
        margin-left: 0;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
    }
}

.inline-group-sm {
    > * {
        margin-left: $inline-group-margin;            
    }
}

.inline-group-md {
    > * {
        margin-left: $inline-group-margin * 2;            
    }
}

input[type="text"],
input[type="submit"]
 {
    border: none;
    margin: 0;
    border-radius: 0;
    width: auto;
    padding: 0;
}
