@import "reset";
@import "config/init";
@import "base/init";
@import "components/init";

.full-width {
    width: 100%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.column-wrapper {
    display: inline-block;
    width: 100%;
}

.header-column {
    width: $header-width;
    margin: 0 auto;
}

.body-column {
    width: $body-width;
    margin: 0 auto;
}

$inline-group-margin: 20px;

.inline-group {
    display: inline-block;

    &:first-child {
        margin-left: 0;
    }

    > * {
        display: inline-block;
        vertical-align: middle;
        margin-left: $inline-group-margin;
    }
}