<body class="bg-image" style="background-image: url(<%= asset_path 'stock/splash-A.jpg' %>)
    ">
    <%= render 'mobile/partials/header' %>

    <div class="spacer-xl"></div>

    <div class="body-column">
        <div class="bg-white-overlay border-thick border-gray-md round">

            <div class="col-wrapper">
                <div class="col-2"></div>
                <div class="col-20">

                    <div class="spacer-lg"></div>

                    <div class="text-md text-blue">Mobile</div>
                    <ul class="text-gray-md text-xs">
                        <div class="spacer-sm"></div>
                        <% @pages.each do |page| %>
                            <li>
                                <a href="mobile/<%=page%>"><%=page%></a>
                            </li>
                            <div class="spacer-sm"></div>
                        <% end %>
                    </ul>
                    <div class="spacer-md"></div>
                
                </div>
                <div class="col-2"></div>
            </div>


        </div>
    </div>

    <div class="spacer-xl"></div>
</body>